# Specific Files

traffic_signs (filtro).csv
traffic_signs_br.zip
traffic_signs.yaml
Comandos Começo.txt
code2.py
yolov8n.pt

# Specific Folders
combined/
objects/
traffic_signs_br/
signs/
Mapillary/
missing/
OSM/
raw/
/.ipynb_checkpoints
*.DS_Store

# Python
pycache/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/

# Secrets
.env
*.env

# System/OS
macOS
.DS_Store
.AppleDouble
.LSOverride
Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump